<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="css/font.css"> <!-- 폰트 css -->
    <link rel="stylesheet" href="css/post_style.css"> <!-- style css -->
</head>

<body>
    <div id="content">
         <div id="left_page" th:if="${session.user == null}">
			<!-- 로그인 안돼있을때 보여지는 div -->
			<form action="/login_clear" method="post">
				<div class="login-box">
					<p class="login-txt">LOGIN</p>
					<input type="text" class="id" name="id" placeholder="ID">
					<input type="password" class="pwd" name="pwd" placeholder="Password">
					<button class="login-btn" type="submit">Login</button>
					<a class=sign-up href="/join">회원이 아니신가요?</a>
				</div>
			</form>
		</div>
		
        <div id="left_page" th:if="${session.user != null}">
			<!-- 로그인 돼있을때 보여지는 div -->
			<!--배경화면 수정 버튼-->
			<img src="/imgs/camera.png" alt="Camera" class="camera-btn" onclick="editCamera()">
			<img src="/imgs/logout.png" alt="Logout" class="logout-btn" onclick="logOut()">
			<div class="line1">
				<p class="big_title" th:text="${session.user}"></p>
				<a href="#">수정</a>
			</div>
			<div class="line2">
				<p class="bio">한줄 소개 입니다.</p>
				<a href="#">수정</a>
			</div>
			<img src="/imgs/write.png" alt="Write" class="write-btn" onclick="writePost()">
        </div>

        <div id="main_page">
            <div id="header">
				<div class="category">
                    <img src="/imgs/category.png" alt="Category" class="category-btn" onclick="toggleCategoryPopup()">
                    <div class="category-popup" id="categoryPopup">
                        <div class="category-popup-content">
                            <a href="#">Category 1</a>
                            <br>
                            <a href="#">Category 2</a>
                            <br>
                            <a href="#">Category 3</a>
                            <br>
                            <a href="#">Category 4</a>
                        </div>
                        <span class="close-btn" onclick="closeCategoryPopup()">×</span>
                    </div>
                </div>
				<div class="header-title" onclick="backToMain()"><p>BBS</p></div>
				<div class="search-box">
			      <input type="text" class="search-txt" name=""placeholder="Search by title">
			      <img src="/imgs/search.png" alt="Search Icon" class="search-btn" onclick="searchTitle()">
			        <i class="fas fa-search"></i>
			      </a>
			    </div>
            </div>
            <div id="post" th:each="bbs : ${bbsDB}">
				<div class="category-name"><p th:text="${bbs.category}">Category1</p></div>
				<div class="title"><p th:text="${bbs.title}">First Post</p></div>
				<div class="user-date">
					<p class="user" th:text="${bbs.id}">unknown user</p>
					<p>&nbsp;|&nbsp;</p> <!-- 구분선 태그(지우지 말 것)-->
					<p class="date" th:text="${bbs.date}">2023.12.01</p>
				</div>
				<hr>
				<div class="in-content"><p th:text="${bbs.content}">내용입니다</p></div>
				<hr>
				<div class="comment-input">
					<p class="comment-id" th:text="${bbs.id}">unknown user</p> <!--여기 아이디 넣기-->
					<div class="input-btn">
						<textarea type="text" name="comment" class="comment" placeholder="댓글을 입력하세요"> </textarea>
						<button type="button" class="comment_btn" th:data-id="${bbs.id}" 
								th:data-bbs-num="${bbs.bbs_num}" onclick="click_comment_btn(this)">등록</button>
					</div>
				</div>
				<div class="comment-box" th:each="comment : ${commentDB}">
					<div class="comment-iddate">
						<p class="comment-id" th:text="${comment.id}">unknown user</p>
						<p>&nbsp;|&nbsp;</p> <!-- 구분선 태그(지우지 말 것)-->
						<p class="comment-date" th:text="${comment.date}">2023.12.01</p>
					</div>
					<p class="comment-post" th:text="${comment.comment}">댓글 예시입니다.</p>
					<hr>
				</div>
			</div>
        </div>
    </div>
    
    <script src="js/post.js"></script>
</body>

</html>
